.icon-48-ridedetails {
      background-image: url(../images/l_ridedetails.png);
      padding-left:60px!important;
}

.icon-48-ridedetail {
      background-image: url(../images/l_ridedetails.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}