.icon-48-mediadetails {
      background-image: url(../images/l_mediadetails.png);
      padding-left:60px!important;
}

.icon-48-mediadetail {
      background-image: url(../images/l_mediadetails.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}